* {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.display {
    background-color: rgb(57, 57, 57);
    border: 8px solid rgb(146, 146, 146);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding: 12px 24px;
    margin: 24px 48px 0 48px;
    flex-basis: 0;
    color: azure;
    font-size: 48px;
    display: flex;
    justify-content: stretch;
}

.row {
    margin: 0 48px;
    display: flex;
    justify-content: stretch;
}

button {
    flex: 1;
    flex-basis: 20%;
    border: 1px solid black;
    padding: 48px 16px;
    font-size: 48px;
}

.clear, .equals {
    flex: 2;
    flex-basis: 40%;
}

.backspace {
    border-bottom-left-radius: 24px;
}

.equals {
    border-bottom-right-radius: 24px;
}

.operator {
    background-color: rgb(115, 115, 115);
    color: azure;
}

.function {
    background-color: rgb(54, 54, 54);
    color: azure;
}