@font-face {
    font-family: 'Inter';
    src: url(./fonts/InterVariable.woff2)
    format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Inter';
    src: url(./fonts/InterVariable-Italic.woff2)
    format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Outfit';
    src: url(./fonts/Outfit[wght].woff2)
    format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
}

* {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.display {
    background-color: rgb(174, 174, 174);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding: 12px 24px;
    min-height: 116px;
    margin: 24px 48px 0 48px;
    flex-basis: 0;
    color: black;
    font-size: 48px;
    display: flex;
    justify-content: stretch;
}

.row {
    margin: 0 48px;
    display: flex;
    justify-content: stretch;
}

button {
    flex: 1;
    flex-basis: 20%;
    border: 1px solid black;
    padding: 32px 16px;
    font-size: 64px;
}

.clear, .equals {
    flex: 2;
    flex-basis: 40%;
}

.delete {
    border-bottom-left-radius: 24px;
}

.equals {
    border-bottom-right-radius: 24px;
}

.operator {
    background-color: rgb(115, 115, 115);
    color: azure;
}

.function {
    background-color: rgb(54, 54, 54);
    color: azure;
}